* {
  font-family: Roboto, sans-serif;
}

a:hover {
  cursor: pointer;
}

img,
textarea {
  width: 100%;
}

textarea {
  height: 25vh;
}

#no-events {
  min-height: 50vh;
  margin-top: 30vh;
}

img.card-img-top {
  width: 100%;
  height: 30vh;
}

ul {
  list-style: none;
}

@media screen and (min-width: 992px) {
  header,
  main {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
